.img {
  max-width: 100%;
  height: auto;
}

.img {
  border-style: none;
}

div {
  display: block;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
}
.container {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.page-header, .page_entryContent {
  max-width: calc(50% - 8px);
  margin-left: calc(25% + 4px);
}

.page-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
