<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.date %>
  </p>

<strong>Name:</strong>
    <%= booking.pax %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user.email %>
  </p>

</div>
