<h1>Editing experience</h1>

<%= render "form", experience: @experience, booking: @booking %>

<br>

<div>
  <%= link_to "Show this experience", experience_path(@experience) %> |
  <%= link_to "Back to experiences", experiences_path %>
</div>
