.bg-image {
    background-image: url("https://source.unsplash.com/random/?activity");
    background-size: cover;
    background-position: center;
    min-height: 40vh;
}

.bg-image h1,
h3 {
    margin: 0;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 36px;
    font-weight: bold;
    background-color: opacity($color: #000000)
}


.bg-image h1 {
    overflow: hidden;
    /* Ensures the cursor is hidden during animation */
    border-right: solid rgb(255, 255, 255);
    /* Creates the cursor effect */
    white-space: nowrap;
    /* Keeps text on one line */
    margin: 0 auto;
    /* Centers the element */
    letter-spacing: 0;
    /* Adjusts spacing between characters */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The cursor blink animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: transparent
    }
}
