.btn-success {
    background-color: #FF5A5F;
    color: white;

}


.form-inputs {
    width: 50%;
}

.centered-form {
    padding: 5%;
}

.btn-primary {
    background-color: #FF5A5F;
    color: white;

}
