<html lang="en">
<title>HTML Tutorial</title>
<body>

<div class="pageFeaturedImage">
  <img src="https://news.airbnb.com/wp-content/uploads/sites/4/2021/01/PJM013419Q206-Seasonal_Chi-Day6_2-Fairfield_Home-02731-cropped.jpg?fit=697%2C299" class="featuredImage--mobileOnly" alt="" title="PJM013419Q206-Seasonal_Chi-Day6_2-Fairfield_Home-02731 cropped" tabindex="0">
</div>

  <div class="container">
    <%# <div class="page-header"> %>
    <h1 class="h2">About us</h1>
  </div>
  <div class="page__entryContent">
    <p>Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 4 million Hosts who have welcomed 1.4 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</p>
    <div class="fastFacts ">
  <div class="container fastFacts__container">
    <h2>Fast facts</h2>
        <div class="row fastFacts__grid" data-staggered-reveal>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      6.6<abbr title="million">M</abbr>
    </h3>
        <p class="fastFact__descrip">active listings worldwide</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      100<abbr title="thousand">K</abbr>
    </h3>
        <p class="fastFact__descrip">cities and towns with active Airbnb listings</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      220+
    </h3>
        <p class="fastFact__descrip">countries and regions with Airbnb listings</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      1.4<abbr title="billion">B</abbr>
    </h3>
        <p class="fastFact__descrip">Airbnb guest arrivals all-time</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      4<abbr title="million">M</abbr>+
    </h3>
        <p class="fastFact__descrip">Hosts on Airbnb</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      $180<abbr title="billion">B</abbr>+
    </h3>
        <p class="fastFact__descrip">earned by Hosts, all-time</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      $13.8<abbr title="thousand">K</abbr>
    </h3>
        <p class="fastFact__descrip">earned by the typical US Host in 2021</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
          </div>
  </div>
</div>
</html>
