<html lang="en">
<title>HTML Tutorial</title>
<body>

<img width="1800" height="900" src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073" class="
featuredImage--desktopOnly wp-post-image" alt="" loading="lazy" title="Newsroom About" tabindex="0" srcset="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=5500 5500w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=300 300w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=768 768w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1024 1024w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1536 1536w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=2048 2048w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=950 950w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=697 697w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1000 1000w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=3000 3000w" sizes="(max-width: 2500px) 100vw, 2500px">

  <div class="container">
    <div class="page-header">
    <h1 class="h2">About us</h1>
  </div>
  <div class="page__entryContent">
    <p>Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 4 million Hosts who have welcomed 1.4 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</p>
    <div class="fastFacts ">
  <div class="container fastFacts__container">
    <h2>Fast facts</h2>
        <div class="row fastFacts__grid" data-staggered-reveal>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      6.6<abbr title="million">M</abbr>
    </h3>
        <p class="fastFact__descrip">active listings worldwide</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      100<abbr title="thousand">K</abbr>
    </h3>
        <p class="fastFact__descrip">cities and towns with active Airbnb listings</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      220+
    </h3>
        <p class="fastFact__descrip">countries and regions with Airbnb listings</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      1.4<abbr title="billion">B</abbr>
    </h3>
        <p class="fastFact__descrip">Airbnb guest arrivals all-time</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      4<abbr title="million">M</abbr>+
    </h3>
        <p class="fastFact__descrip">Hosts on Airbnb</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      $180<abbr title="billion">B</abbr>+
    </h3>
        <p class="fastFact__descrip">earned by Hosts, all-time</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
              <div class="fastFacts__fastFact" data-reveal>
          <div class="fastFact" >
      <h3 class="fastFact__title" >
      $13.8<abbr title="thousand">K</abbr>
    </h3>
        <p class="fastFact__descrip">earned by the typical US Host in 2021</p>
        <p class="fastFact__footnote">as of December 31, 2022</p>
  </div>
        </div>
          </div>
  </div>
</div>
</html>
