<html lang="en">
<title>HTML Tutorial</title>
<body>

<h1>About Us</h1>
<p>ToGather Pte Ltd was born in 2023 as the founders aspire to foster communal ties within neighbourhoods by providing a platform for users to show off their craft, cause or housing town by hosting an experience.</p>


Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 4 million Hosts who have welcomed 1.4 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.

Fast facts

</body>
</html>
.header {
    position: relative;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 2;
}

<img width="2500" height="1073" src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073" class=" featuredImage--desktopOnly wp-post-image" alt="" loading="lazy" title="Newsroom About" tabindex="0" srcset="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=5500 5500w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=300 300w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=768 768w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1024 1024w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1536 1536w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=2048 2048w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=950 950w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=697 697w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=1000 1000w, https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?w=3000 3000w" sizes="(max-width: 2500px) 100vw, 2500px">
