<head>
  <title>Contact Us</title>
  <%= stylesheet_link_tag '/app/assets/stylesheets/contactus/_contactus.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container mt-5">
  <h1 class="mb-5">Contact Us</h1>

  <div class="row">
    <div class="col-12 col-md-8">
      <img src="https://img.freepik.com/free-photo/happy-hipster-company-friends-traveling-around-world_285396-3653.jpg?w=900&t=st=1678281211~exp=1678281811~hmac=6404c7c632c6ee47f41be1378be58f589ec6dcb9352dc3b54ae3717732ae6551" class="img-fluid">
    </div>
    <div class="col-6 col-md-4">
      <div class="contactinfo">
        <p>Please feel free to contact us using the information below:</p>

        <ul>
          <li><i class="fas fa-envelope"></i> Email: hello@airbnb.com</li>
          <li><i class="fas fa-phone"></i> Phone: +65 6888 6888</li>
          <li><i class="fas fa-map-marker-alt"></i> Address: 290 Orchard Road 18-03 The Paragon</li>
        </ul>
      </div>
    </div>
  </div>
</div>
